{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="col">
            <h1>This is the Home Page</h1>
            <p>This is a dynamically loaded paragraph</p>       
        </div>
    </div>
{{end}}